<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header" th:unless="${#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}">
            <span th:text="${#authentication.getName()}"></span>
            <span th:text="${#authentication.authorities}"></span>
        </div>
        <a href="/invalidate">Выйти</a>
    </div>
</div>
</body>
</html>