<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="application/javascript" src="/rremote.js"></script>
<div th:replace="header :: header"></div>
<div>

    <div id="output"></div>
    <div th:replace="services :: service-panel(${services})">

    </div>
</div>

<script type="application/javascript">
    function sendMsg(){
        let form = document.getElementById("form")
        let out = document.getElementById("output");
        let data = new FormData(form);
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "sendmsg");
        xhr.onload = (event) =>{
            out.innerText = event.target.status;
        }
        xhr.send(data);

    }
</script>
</body>
</html>